@import "@fontsource/fredoka/300.css";
@import "@fontsource/fredoka/400.css";
@import "@fontsource/fredoka/500.css";
@import "@fontsource/fredoka/600.css";
@import "@fontsource/fredoka/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  #preloader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: linear 0.8s;
  }

  /* Contenedor de logo y rueda */
  .presentation {
    position: relative;
    width: 300px;
    height: 170px;
  }

  /* Fondo blanco pequeño debajo del logo, por encima de la rueda */
  .small-white-bg {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    top: 40px;
    left: 10px;
    z-index: 1;
  }

  /* Logo en el frente */
  .logo-ta {
    position: absolute;
    width: 275px;
    height: 154px;
    top: -5px;
    left: -60px;
    background: url("/image/tar.webp") no-repeat center;
    background-size: contain;
    z-index: 2;
  }

  /* Rueda giratoria detrás */
  .rotating-wheel {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -10px;
    left: 75px;
    background: url("/image/rueda.webp") no-repeat center;
    background-size: contain;
    animation: spin 10s linear infinite;
    z-index: 0;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    .small-white-bg {
      width: 100px;
      height: 100px;
      top: 55px;
      left: 40px;
      background-color: rgb(255, 255, 255);
    }

    /* Logo en el frente */
    .logo-ta {
      width: 235px;
      height: 124px;
      top: 20px;
      left: -50%;
      transform: translateX(50%);
    }

    /* Rueda giratoria detrás */
    .rotating-wheel {
      width: 180px;
      height: 180px;
      top: 10px;
      left: 90px;
    }
  }

  /* Animación para la rueda */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .box {
    width: 120px; /* Ajusta el tamaño según necesites */
    height: 100px;
  }

  @keyframes fadeInRightToLeft {
    from {
      opacity: 0;
      transform: translateX(50px); /* Comienza desde la derecha */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* Se posiciona correctamente */
    }
  }

  .bg-main {
    background: #b7d8e8;
    background: -webkit-linear-gradient(
      90deg,
      rgba(183, 216, 232, 1) 1%,
      rgba(255, 255, 255, 1) 60%,
      rgba(193, 213, 245, 1) 100%
    );
    background: -moz-linear-gradient(
      90deg,
      rgba(183, 216, 232, 1) 1%,
      rgba(255, 255, 255, 1) 60%,
      rgba(193, 213, 245, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(183, 216, 232, 1) 1%,
      rgba(255, 255, 255, 1) 60%,
      rgba(193, 213, 245, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#B7D8E8", endColorstr="#C1D5F5", GradientType=1);
  }
}
